.events {
    &__tab a {
        padding: 10px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        color: #000;
        transition: all 0.2s ease-in;
    }

    &__tab a.active,
    &__tab a:hover,
    &__tab a:active
    {
        border-bottom-color: #2159BD;
        color: #2159BD;
    }
}