.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3), 5px 9px 19px rgba(0,0,0,0.2);
    z-index: 100;


    &__header {
        background: #2159BD;
        padding: 2px;
        
        &--title {
            font-size: 20px;
            color: #fff;
        }
    }

    &__body {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    &__actions {
        width: 90%;
        margin: 10px 0 10px 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        & button:first-of-type {
            margin: 0;
        }
    }
}